<div class="row">
	<div class="span6">
		<h3>Your personal settings</h3><br>
		<table class="table">
			<tr>
				<td>Name: </td>
				<td><%= name %></td>
			</tr>
			<tr>
				<td>E-mail: </td>
				<td><%= email %></td>
			</tr>
			<tr>
				<td>Company: </td>
				<td><%= startup %></td>
			</tr>
			<tr>
				<td>Unique identifier: </td>
				<td><%= id %></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="edit btn btn-primary">Edit</button></td>
			</tr>
		</table>
	</div>
	<div class="span6">
		<h3>API Credentials</h3><br>
		<table class="credentials table">
			<tr>
				<td>Public token: <br><small class="muted">For users payments actions</small> </td>
				<td><p class="public-token muted"></p></td>
			</tr>
			<tr>
				<td>Private token: <br><small class="muted">To use in your secret backend</small></br></td>
				<td class="private-token"></td>
			</tr>
		</table>
	</div>
</div>


<div class="row">
	<div class="span6">

	</div>
</div>