<div class="alert alert-<% if (status == 1 && active==1) { print ("success");} %><% if (status == 1 && active==0) { print ("error");} %><% if (status == 0 && active==1) { print ("info");} %><% if (status == 0 && active==0) { print ("error");} %>">
	<div class="row">
		<div class="span1">
			<% if (status == 1) { %>
				<% if (active == 1) { %>
					<span class="label label-success">Active</span>
				<% } else { %>
					<span class="label label-important">Deactivated</span>
				<% } %>
			<% } else { %>
				<% if (active == 1) { %>
					<span class="label label-info">Authorizing</span>
				<% } else { %>
					<span class="label label-important">Deactivated</span>
				<% } %>
			<% } %>
		</div>
		<div class="span9">
			<h4><%= text %><br><small><%= url %></small></h4>
			<p>
				<small>
					<a href="#">Delete</a> - 
					<a href="#">Analytics results</a> - 
					<a href="#">Quality check</a>
				</small>	
			</p>	
		</div>
		<div class="span1">
			<% if (active==1) { %>
				<button class="btn deactivate">Deactivate</button>
			<% } else { %>
				 <button class="btn activate">Activate</button>
			<% } %>
		</div>
	</div>
</div>