 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PayParoot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/web.css" rel="stylesheet">
    <!-- <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30870849-1']);
      _gaq.push(['_setDomainName', 'payparrot.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>   
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#" style="padding:5px 10px;">
            <h3 style="margin-top:20px;">Demo Application</h3>
          </a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class=""><a href="/">Home</a></li>
              <li class="active"><a href="login.html">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit well" style="margin-top:40px">
        <h2>PayParrot experience</h2>
        <p>This is our demo application where you can test out the PayParrot experience</p>
      </div>
      <div class="row">
        <div class="span4">
          <div class="" style="margin-top:10px;">
            <h2>Login</h2>
            <p>
              Alredy have an account?
            </p>
            <hr>
            <form action="/login" method="POST">
              <table class="table table-bordered">
                <tr>
                  <td>E-Mail</td>
                  <td><input type='text' name='email'></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><input type='password' name='password'></td>
                </tr>            
                <tr>
                  <td></td>
                  <td><input type="submit" value="Login" name="Login" class="btn btn-primary"></td>
                </tr>                        
              </table>
            </form>
          </div>
        </div>
        <div class="span7 offset1">
          <div class="" style="margin-top:10px;">
            <h2 style="color:green;">Create your account now</h2>
            <p>
              It costs only one <b>monthly tweet</b>
            </p>
            <hr>
            <form action="/new" method="POST">
              <table class="table table-bordered">
                <tr>
                  <td>Name</td>
                  <td><input type='text' name='name'></td>
                </tr>
                <tr>
                  <td>E-Mail</td>
                  <td><input type='text' name='email'></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><input type='password' name='password'></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" value="Sign up" name="Login" class="btn btn-success"></td>
                </tr>                        
              </table>
            </form>
          </div>
        </div>        
      </div>

      <!-- Example row of columns -->

      <div class="divider"></div>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script data-main="js/web" src="js/libs/require.min.js"></script>
  </body>
</html>
