@import "bootstrap/bootstrap.less";
.box {
	.box-shadow(0px 0px 2px rgba(0,0,0,0.5));
}

.parrot {
	.parrot-container {
		padding: 10px 0 0 0;
		.box;
	}
	margin-bottom:20px;
	.photo {
		height:150px;
		margin:0 10px 10px 10px;
	}
	.name {
		padding:0 10px;
	}
	.info {
		background: #f5f5f5;
		padding:10px;
		font-size: 0.8em;
		color: #777;
	}
	.divider {
		border-bottom:1px solid #fff;
		border-top:1px solid #ccc;
		heiht:2px;
	}
	.hidden {
		display:none;
	}
}

.parrot::after {
	clear: both;
	content: " ";
	display: block;
	bottom: -14px;
	width: 224px;
	height: 14px;
	background: url(/img/shadow.png);
	visibility: visible;
	opacity: .5;
}

#parrots-pane {
	ul.nav {
		
	}
}

.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.pricing_column {float:left;height:300px;width:110px;padding:20px 10px 20px 10px;margin-right:10px;font-weight:bold;font-size:36px;text-align:center;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.48);}
.pricing_column:first-child {margin-left:200px;}
.pricing_column:last-child {margin-right:0;}
.pricing_column {background:url(/img/plan.png) no-repeat;color:#444;border-top:1px solid #444;}
.pricing_column .plan_title {color:#fff;font-size:24px;}
.pricing_column .plan_tweets {margin:25px 0;font-size:24px;}
.pricing_column .divider {height:0px;border-top:1px solid rgba(0,0,0,0.2);border-bottom:1px solid rgba(255,255,255,0.2);margin-top:20px;margin-bottom:20px;}
.pricing_info1 {width:400px;height:200px;background:url(https://qubity.com/web/img/pricing-info3.png) no-repeat;}
.pricing_info2 {width:400px;height:200px;background:url(/web/img/pricing-info2.png) no-repeat;}

.credentials.table tr td:first-child{
  width: 100px;
}