 @import "bootstrap/bootstrap.less";

body {
	background:#8ec8d8 url(/img/stripe_bg.png) repeat-x;
}

.header-info {
	background:transparent;
	text-align: center;
	color:#fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.divider {
	height:0;
	border-top:1px solid rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(255,255,255,0.2);
	margin: 10px 0;
}