<div class="row">
	<div class="span12">
		<h3>Notifications settings</h3><br>
		<div class="alert alert-error" style="display:none;"><strong>Warning</strong> Some of the fields of the new message are empty. Please fill them before creating a new message</div>		
		<form id='notification-url-data'>
		<table class="table">
			<tr>
				<td width=20%>
					<p>
						Redirect URL: 
					</p>
					
				</td>
				<td>
					<p>
						<input type='text' value='<%= callback_url %>' name='callback_url' style='width:90%'>
						<br><small>URL Where Parrots will be redirected after creating the subscription. </small>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						Notifications URL:
					</p>
				</td>
				<td>
					<p>
						<input type='text' value='<%= notification_url %>' name='notification_url' style='width:90%'>
						<br><small>URL Where PayParrot will post notifications to your server.<br> <a href="#">Learn more</a> </small>
					</p>				
				</td>
			</tr>
			<tr>
				<td></td>
				<td><button class="save-url btn btn-success">Save</button></td>
			</tr>
		</table>
		</form>
	</div>
</div>